{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<h1 id="title"> TodoApp</h1>

<table>
    <thead>
        <th>Title</th>
        <th>Description</th>
        <th>Is completed</th>
        <th>Edit:</th>
        <th>Delete:</th>
    </thead>
    <tbody>
        {% for todo in todos %}
        <tr>
            <td> <a href="{%url 'todo' todo.id%}" class="todo-title">{{todo.title}}</a></td>
            <td>{{todo.description|slice:":20"}}...</td>
            <td>{% if todo.is_completed %}  <input type="checkbox" name="Checkbox" id="checkbox" checked > {% else %} <input type="checkbox" name="Checkbox" id="Checkbox"> {% endif %}</td>
            <td><a href="{% url 'update_todo' todo.id %}">Edit</a></td>
            <td><a href="{% url 'delete_todo' todo.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div id="button-div">

    <button type="button" > <a href="{% url 'create_todo'%}">Add Todo</a></button>
</div>
{% endblock content %}